<a href="https://colab.research.google.com/github/Tejvvishnu/python-programs-1/blob/main/control_statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=int(input("enter a value"))
for a in range(1, 101):
    if a % 2 == 0: 
        print(a)

enter a value100
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [ ]:
a=int(input("enter your age"))
if a>=18:
          print("eligible for voting")
else:
      print("not eligible for voting")

enter your age19
eligible for voting

In [ ]:
a=int(input("enter a value"))
b=int(input("enter a value"))
c=int(input("enter a value"))
if a>b & a>c:
   print("a is greatest")
elif b>a & b>c:
     print("b is greatest")
else:
      print("c is greatest")

enter a value10
enter a value20
enter a value30
c is greatest

WHILE LOOP

In [ ]:
a=int(input("enter a value"))
for a in range(1, 101):
    if a % 2 == 0: 
        print(a)

enter a value100
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [ ]:
s1=int(input("enter a value"))
s2=int(input("enter a value"))
s3=int(input("enter a value"))
s4=int(input("enter a value"))
if s1>s2 & s1>s3 & s1>s4 :
   print("s1 is greatest")
elif s2&s1 & s2>s3 & s2>s4:
     print("s2 is greatest")
elif s3>s1 & s3>s2 & s3>s4:
      print("s3 is greatest")
else:
    print("s4 is greatest")

enter a value10
enter a value060
enter a value90
enter a value40
s4 is greatest

In [ ]:
a=int(input("enter a value"))
b=int(input("enter a value"))
c=int(input("enter a value"))
d=int(input("enter a value"))
if a>b & a>c & a>d & a<e:
   print("a is greatest")
elif b>a & b>c & b>d & b>e:
     print("b is greatest")
elif c>a & c>b & c>d & c>e:
      print("c is greatest")
else:
    print("d is greatest")

enter a value10
enter a value0
enter a value40
enter a value50
d is greatest

In [ ]:
a=int(input("enter a value"))
for a in range(1, 101):
    if a % 2 == 0: 
        print(a)

enter a value100
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [ ]:
for i in range(0, 30, 2):
        print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28

while loop

In [ ]:
x=int(input("enter angle"))
y=int(input("enter angle"))
z=int(input("enter angle"))
if x==y==z:
  print("eqilateral triangle")
elif x==y or y==z or z==x:
    print("isosceles triangle")
else:
    print("scalene triangle")

enter angle30
enter angle30
enter angle30
eqilateral triangle

In [ ]:
a=int(input("enter a value"))
if a % 4==0: 
        print("leap year")
else:
  print("not a leap year")

enter a value1020
leap year

In [ ]:
a=int(input("enter a value"))
b=int(input("enter a value"))
c=int(input("enter a value"))
if a<b and a<c :
   print("a is minimum")
elif b<a and b<c30:
 
     print("b is minimum")
else:
      print("c is minimum")

enter a value10
enter a value20
enter a value30
a is minimum

In [ ]:
a=int(input("enter a value"))
if a % 5 == 0 and a % 11 == 0: 
        print("divisible") 
else:
    print("not divisible")

enter a value110
divisible

In [9]:
import cmath
a=int(input("enter a value"))
b=int(input("enter a value"))
c=int(input("enter a value"))
dis=(b*b-4*a*c)
x = (-b-cmath.sqrt(dis))/(2 * a)
y = (-b + cmath.sqrt(dis))/(2 * a)
print(x)
print(y)

enter a value1
enter a value-2
enter a value3
(1-1.4142135623730951j)
(1+1.4142135623730951j)

In [17]:
a=int(input())
factorial=1
if a< 0:
   print("no factorial")
elif a== 0:
   print("The factorial of 0 is 1")
else:
 for i in range(1,a+ 1):
   factorial = factorial*i
   print(factorial)

10
1
2
6
24
120
720
5040
40320
362880
3628800