<a href="https://colab.research.google.com/github/Tejvvishnu/python-programs-1/blob/main/module_1_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=10
print(a)

10

In [ ]:
a=1
b="4"
c=0.45
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'str'>
<class 'float'>

In [ ]:
a=int(input("enter a value"))
b=int(input("enter a value"))
c=int(input("enter a value"))
d=a+b+c
e=a-b-c
f=a*b*c
print(d)
print(e)
print(f)

enter a value2
enter a value2
enter a value2
6
-2
8

In [ ]:
a=int(input("enter a value"))
seconds=a*60
print(seconds)
milliseconds=a*360
print(milliseconds)

enter a value20
1200
7200

In [ ]:
import math
a=float(input("enter a value"))
print(math.ceil(a))

enter a value10.30
11

In [ ]:
import math
a=float(input("enter a value"))
print(math.floor(a))

enter a value23.001
23

In [ ]:
a=int(input("enter a value"))
b=int(input("enter a value"))
c=int(input("enter a value"))
d=int(input("enter a value"))
grade=(a+b+c+d)/5
print(grade)

enter a value10
enter a value20
enter a value30
enter a value40
20.0

In [ ]:

for a in range(0,200):
  if a%2 == 1:
   print(a)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99
101
103
105
107
109
111
113
115
117
119
121
123
125
127
129
131
133
135
137
139
141
143
145
147
149
151
153
155
157
159
161
163
165
167
169
171
173
175
177
179
181
183
185
187
189
191
193
195
197
199

In [ ]:
import math
a=float(input("enter a value"))
print(math.sqrt(a))

enter a value20
4.47213595499958

In [1]:
for i in range(10,100):
  if(i%2 == 0):
    print(i)

10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [2]:
for i in range(10,100):
  if(i%2 == 1):
    print(i)

11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [4]:
num=10
factorial=1
if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

The factorial of 10 is 3628800

In [7]:
import math
print("The gcd of 20 and 15 is : ", end="")
print(math.gcd(20, 15))

The gcd of 20 and 15 is : 5

In [8]:
n=int(input("Enter the principle amount:"))

rate=int(input("Enter the rate:"))

years=int(input("Enter the number of years:"))

for i in range(years):

    n=n+((n*rate)/100)

print(n)

Enter the principle amount:10
Enter the rate:20
Enter the number of years:2
14.4

In [9]:
num = int(input("Enter the Number:"))
n1, n2 = 0, 1
print("Fibonacci Series:", n1, n2, end=" ")
for i in range(2, num):
    n3 = n1 + n2
    n1 = n2
    n2 = n3
    print(n3, end=" ")

print()

Enter the Number:10
Fibonacci Series: 0 1 1 2 3 5 8 13 21 34