<a href="https://colab.research.google.com/github/Tejvvishnu/python-programs-1/blob/main/module2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

def nCr(a,b):
  return(fact(a)/(fact(b)*fact(a-b)))
a=int(input(""))
b=int(input(""))
def fact(a):
   r=1
   for i in range (2,a+1):
      r=r*i
   return r
print(int(nCr(a,b)))

10
5
252

In [1]:
def colour():
  tej = ['red', 'green', 'white', 'black', 'pink', 'yellow']
  tej.pop(0)
  tej.pop(3)
  tej.pop(3)
  print(tej)
colour()

['green', 'white', 'black']

In [4]:
x = [8,9,6,3,4,1,2,4]
def ab(x):
  y = sorted(x)
  x1 = y[1]
  x2 = y[-2]
  print(x1)
  print(x2)
ab(x)

2
8

In [6]:
tej1 = ["a","b","c","f","e"]
tej2 = ["x","y","c","g","h"]
vishnu1 = set(tej1)
vishnu2 = set(tej2)
def diff(vishnu1,vishnu2):
  x = vishnu1.difference(vishnu2)
  y = vishnu2.difference(vishnu1)
  a = list(x)
  b = list (y)
  z = a + b
  print(z)
diff(vishnu1,vishnu2)

['e', 'b', 'a', 'f', 'x', 'y', 'h', 'g']

In [9]:
tej1 = [8,4,2,5,1]
tej2=[]
def square():
  for x in tej1:
    tuple5 = (x,x*x)
    tej2.append(tuple5)
    tuple5 = tuple(tej2)
  print(tuple5)
square()

((8, 64), (4, 16), (2, 4), (5, 25), (1, 1))

In [11]:
tej1 = [(4,5 ), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
i = 0
while i < len(tej1):
  if len(tej1[i])==2:
    tej1.pop(i)
  i = i + 1
print(tej1)

[(4,), (8, 6, 7), (1,), (3, 4, 6, 7)]

In [13]:
tej = int(input("Enter key: "))
tej2 = {
    1 : "x",
    2 : "y",
    3 : "z"
}

del tej2[tej]
print(tej2)

Enter key: 2
{1: 'x', 3: 'z'}

In [15]:
tej1 = {5 : 100, 8 : 666, 8 : 454, 5 : 5454, 7 : 784}

tej2 = sorted(list(tej1.values()))

min = tej2[0]
max = tej2[-1]

print("The minimum value is",min , "and the maximum is",max)

The minimum value is 454 and the maximum is 5454

In [16]:
tej = "I am going to rrr movie"
a = tej.split(" ")
b = 'to'
count = 0
for b in tej:
  if b in a:
    count = count + 1
print(count)

1

In [17]:
string="rabbit"
print(string.replace("b","c"))

raccit

In [18]:
string = input(":")
acro = ""
sample = string.split(" ")
for word in sample:
  acro = acro + word[0].upper()
print(acro)

:rma
R

In [19]:
tej1 = ['abc', 'xyz', 'aba', '1221']
for word in tej1:
  if len(word)>2 and word[0]==word[-1]:
    print(word)

aba
1221